In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import statistics as st

from surprise import Dataset, Reader, SVD, NMF
from surprise.model_selection import train_test_split, GridSearchCV
from surprise import accuracy

from sklearn.metrics.pairwise import cosine_similarity

In [2]:
books_df = pd.read_csv("Books.csv", usecols=["ISBN", "Book-Title", "Book-Author", "Year-Of-Publication", "Publisher"])
ratings_df = pd.read_csv("Ratings.csv")
users_df = pd.read_csv("Users.csv", index_col="User-ID")

C:\Users\admin\AppData\Local\Temp\ipykernel_7116\831356077.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books_df = pd.read_csv("Books.csv", usecols=["ISBN", "Book-Title", "Book-Author", "Year-Of-Publication", "Publisher"])

In [3]:
books_df.head(3)
ratings_df.head(3)
#users_df.head(3)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0

In [29]:
# Поиск потенциально похожих пользователей
def get_similar_users(user_id, ratings_df):
    user_ratings = ratings_df.loc[ratings_df['User-ID'] == user_id]
    similar_users = pd.DataFrame(columns=user_ratings.columns)
    for item in user_ratings['ISBN']:
        #print(len(user_ratings))
        similar_users = pd.concat([similar_users, ratings_df.loc[(ratings_df['ISBN'] == item) & (ratings_df['User-ID'] != user_id)]])
    return similar_users.drop_duplicates(subset=['User-ID'])

In [5]:
def get_similarity(user1, user2):
    common_values = np.array(list(set(user1['ISBN']) & set(user2['ISBN'])))
    user1 = user1[user1['ISBN'].isin(common_values)].sort_values(by=['ISBN'], ascending=True)
    user2 = user2[user2['ISBN'].isin(common_values)].sort_values(by=['ISBN'], ascending=True)
    if len(common_values) == 0:
        #print(f"Exit in ", 0)
        return 0
    correlation = np.corrcoef(user1['Book-Rating'].values, user2['Book-Rating'].values)[1, 0]
    if not np.isnan(correlation):
        return correlation
    else:
        return 1 - abs(user1['Book-Rating'].mean() - user2['Book-Rating'].mean())/10

In [6]:
ratings_df.loc[(ratings_df['User-ID'] == 277427) & (ratings_df['ISBN'] == '0425115801')]

      User-ID        ISBN  Book-Rating
1610   277427  0425115801            0

In [7]:
get_similarity(ratings_df.loc[ratings_df['User-ID'] == 276746], ratings_df.loc[ratings_df['User-ID'] == 1660])

C:\Users\admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\Users\admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2855: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]

0.7

In [8]:
ratings_df.loc[ratings_df['User-ID'] == 1660]

       User-ID        ISBN  Book-Rating
13203     1660  0312983654            6
13204     1660  0345454073            3
13205     1660  0425115801            0
13206     1660  0553561618            6
13207     1660  0553582747            5
13208     1660  0553582933            7
13209     1660  0671024248            0
13210     1660  0671034022            6
13211     1660  0789414708            6
13212     1660  089480829X            7

In [9]:
ratings_df.loc[(ratings_df['User-ID'] == 276746)]

    User-ID        ISBN  Book-Rating
10   276746  0425115801            0
11   276746  0449006522            0
12   276746  0553561618            0
13   276746  055356451X            0
14   276746  0786013990            0
15   276746  0786014512            0

In [10]:
get_similar_users(276746, ratings_df)

        User-ID        ISBN Book-Rating
1610     277427  0425115801           0
13205      1660  0425115801           0
15388      2288  0425115801          10
22255      4551  0425115801           8
22791      4938  0425115801           9
...         ...         ...         ...
279704    66385  0786014512           0
347789    83034  0786014512           0
620850   150254  0786014512           0
945730   228998  0786014512           0
1083092  259078  0786014512           0

[474 rows x 3 columns]

In [11]:
get_similar_users(276746, ratings_df).loc[ratings_df['User-ID'] == 277427]

     User-ID        ISBN Book-Rating
1610  277427  0425115801           0

In [14]:
u2 = ratings_df.loc[ratings_df['User-ID'] == 276746]
u2

    User-ID        ISBN  Book-Rating
10   276746  0425115801            0
11   276746  0449006522            0
12   276746  0553561618            0
13   276746  055356451X            0
14   276746  0786013990            0
15   276746  0786014512            0

In [47]:
u2.iloc[10]['User-ID']

259078

In [76]:
def user_based_prediction(user_id, ratings_df, item_id, k=1000):
    user = ratings_df.loc[ratings_df['User-ID'] == user_id]
    similarities = get_similar_users(user_id, ratings_df).apply(
        lambda x: get_similarity(ratings_df.loc[ratings_df['User-ID'] == x['User-ID']], user), axis=1)
    similarities.sort_values(ascending=False, inplace=True)
    similarities = similarities.nlargest(k)
    k_closest = ratings_df.iloc[similarities.index]
    k_closest = k_closest.loc[k_closest['ISBN'] == item_id]
    
    if len(k_closest) == 0:
        print("Ни один из ближайших соседей не оценил книгу с данным id")
        return np.nan

    similarities = similarities[k_closest.index]
    print(similarities)
    k_closest.loc[:, 'Book-Rating'] = 10
    print(k_closest)
    #print(k_closest.loc[k_closest['ISBN'] == item_id]['Book-Rating'])
    prediction = (user['Book-Rating'].mean() + 
    sum(similarities * (k_closest['Book-Rating'] - k_closest['Book-Rating'].mean()))/
    sum(similarities))
    return prediction
user_based_prediction(276746, ratings_df, '0786014512')

C:\Users\admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2846: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
C:\Users\admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2705: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)
C:\Users\admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2705: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)
C:\Users\admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\Users\admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2855: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]

1083092    1.0
279704     1.0
347789     1.0
945730     1.0
620850     1.0
dtype: float64
         User-ID        ISBN  Book-Rating
1083092   259078  0786014512           10
279704     66385  0786014512           10
347789     83034  0786014512           10
945730    228998  0786014512           10
620850    150254  0786014512           10

0.0

0    1.0
1    NaN
2    3.0
dtype: float64
4.0

In [42]:
user_based_prediction(276746, ratings_df)

C:\Users\admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2846: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
C:\Users\admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2705: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)
C:\Users\admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2705: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)
C:\Users\admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\Users\admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2855: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]

        User-ID        ISBN  Book-Rating
1610     277427  0425115801            0
686161   167223  0553561618            0
682370   166123  0553561618            0
680658   165759  0553561618            0
675241   164323  0553561618            0
659194   159977  0553561618            0
640974   154773  0553561618            0
638934   154037  0553561618            0
635714   153662  0553561618            0
605453   146175  0553561618            0

In [35]:
similarities = get_similar_users(276746, ratings_df).apply(
    lambda user: get_similarity(ratings_df.loc[ratings_df['User-ID'] == user['User-ID']], u2), axis=1)
similarities.sort_values(ascending=False, inplace=True)
#similarities.index
ratings_df.iloc[similarities.nlargest(10).index]

C:\Users\admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\Users\admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2855: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
C:\Users\admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2846: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
C:\Users\admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2705: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)
C:\Users\admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2705: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)

         User-ID        ISBN  Book-Rating
1083092   259078  0786014512            0
564096    135458  0425115801            0
640974    154773  0553561618            0
605453    146175  0553561618            0
526461    127233  0553561618            0
428149    102275  0553561618            0
371263     88937  0553561618            0
356730     85993  0553561618            0
342048     81531  0553561618            0
258802     60041  0553561618            0

In [ ]:
g = get_similar_users(276747, ratings_df).apply(lambda user: get_similarity(user, u2))

In [ ]:
print(g.unique())

In [23]:
similarities = []
u1 = ratings_df.loc[ratings_df['User-ID'] == 276746]
for i in get_similar_users(276746, ratings_df).itertuples():  
    u2 = ratings_df.loc[ratings_df['User-ID'] == i[1]]
    similarities.append(get_similarity(u1, u2))
#similarities.sort(reverse=True)
similarities

C:\Users\admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2846: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
C:\Users\admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2705: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)
C:\Users\admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2705: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)
C:\Users\admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\Users\admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2855: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]

[1.0,
 0.7,
 0.0,
 0.19999999999999996,
 0.09999999999999998,
 0.30000000000000004,
 0.5,
 1.0,
 1.0,
 0.625,
 1.0,
 1.0,
 0.19999999999999996,
 0.0,
 1.0,
 0.30000000000000004,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.19999999999999996,
 1.0,
 1.0,
 0.4,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.4,
 1.0,
 1.0,
 1.0,
 1.0,
 0.5,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.5,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.30000000000000004,
 0.5,
 0.8666666666666667,
 0.09999999999999998,
 1.0,
 1.0,
 0.19999999999999996,
 0.09999999999999998,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.30000000000000004,
 0.0,
 1.0,
 0.475,
 1.0,
 1.0,
 0.6,
 1.0,
 0.19999999999999996,
 1.0,
 0.19999999999999996,
 1.0,
 0.0,
 0.09999999999999998,
 1.0,
 1.0,
 0.0,
 0.19999999999999996,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.19999999999999996,
 1.0,
 1.0,
 0.09999999999999998,
 1.0,
 0.19999999999999996,
 0.09999999999999998,
 1.0,
 0.6666666666666666,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.19999999999999996,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.19999999999999996,
 0.0,
 1.0,
 1.0,
 1.0,
 0.5,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.19999999999999996,
 0.4,
 1.0,
 1.0,
 0.43333333333333335,
 0.19999999999999996,
 1.0,
 1.0,
 1.0,
 0.19999999999999996,
 0.09999999999999998,
 0.0,
 0.09999999999999998,
 0.19999999999999996,
 0.30000000000000004,
 1.0,
 0.4,
 0.19999999999999996,
 1.0,
 1.0,
 0.0,
 0.19999999999999996,
 0.5,
 0.5,
 0.5,
 0.09999999999999998,
 1.0,
 1.0,
 0.65,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.30000000000000004,
 1.0,
 0.19999999999999996,
 1.0,
 1.0,
 0.4,
 0.30000000000000004,
 0.19999999999999996,
 0.19999999999999996,
 0.6,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.7,
 0.30000000000000004,
 1.0,
 0.09999999999999998,
 1.0,
 0.19999999999999996,
 1.0,
 1.0,
 0.5,
 0.09999999999999998,
 0.4,
 1.0,
 0.19999999999999996,
 0.30000000000000004,
 0.30000000000000004,
 1.0,
 1.0,
 0.30000000000000004,
 0.5,
 0.19999999999999996,
 0.30000000000000004,
 0.5,
 0.55,
 1.0,
 1.0,
 1.0,
 0.09999999999999998,
 0.19999999999999996,
 0.6,
 1.0,
 1.0,
 1.0,
 0.33333333333333326,
 1.0,
 1.0,
 0.25,
 1.0,
 0.09999999999999998,
 0.19999999999999996,
 0.4,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.19999999999999996,
 1.0,
 1.0,
 0.5,
 0.4,
 1.0,
 1.0,
 1.0,
 1.0,
 0.6,
 0.09999999999999998,
 0.050000000000000044,
 1.0,
 1.0,
 1.0,
 0.30000000000000004,
 1.0,
 0.65,
 0.6,
 1.0,
 0.19999999999999996,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.19999999999999996,
 1.0,
 0.4,
 0.35,
 1.0,
 0.35,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.30000000000000004,
 0.55,
 1.0,
 0.19999999999999996,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.19999999999999996,
 0.30000000000000004,
 1.0,
 0.30000000000000004,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.6,
 1.0,
 0.09999999999999998,
 0.75,
 1.0,
 1.0,
 1.0,
 0.5,
 0.65,
 1.0,
 0.6,
 1.0,
 0.09999999999999998,
 1.0,
 1.0,
 1.0,
 1.0,
 0.19999999999999996,
 0.5,
 1.0,
 0.4,
 1.0,
 1.0,
 1.0,
 1.0,
 0.19999999999999996,
 1.0,
 0.5,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.5,
 0.5,
 0.19999999999999996,
 0.30000000000000004,
 0.19999999999999996,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.19999999999999996,
 1.0,
 1.0,
 1.0,
 0.19999999999999996,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.09999999999999998,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.19999999999999996,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.09999999999999998,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.4,
 0.0,
 1.0,
 0.30000000000000004,
 1.0,
 1.0,
 1.0,
 0.5,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.19999999999999996,
 0.4,
 1.0,
 0.09999999999999998,
 0.5,
 1.0,
 0.19999999999999996,
 1.0,
 0.19999999999999996,
 0.30000000000000004,
 0.09999999999999998,
 1.0,
 1.0,
 0.09999999999999998,
 0.30000000000000004,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.09999999999999998,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.30000000000000004,
 1.0,
 0.4,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.09999999999999998,
 0.19999999999999996,
 1.0,
 0.09999999999999998,
 1.0,
 1.0,
 0.30000000000000004,
 0.09999999999999998,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.30000000000000004,
 0.30000000000000004,
 0.09999999999999998,
 0.09999999999999998,
 0.0,
 0.5,
 0.30000000000000004,
 1.0,
 0.19999999999999996,
 0.4,
 1.0,
 1.0,
 0.19999999999999996,
 0.19999999999999996,
 0.30000000000000004,
 1.0,
 1.0,
 0.19999999999999996,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0]

In [ ]:
id = 276746
print(ratings_df.loc[ratings_df['User-ID'] == id])
print(get_similar_users(id, ratings_df))

In [ ]:

u1 = ratings_df.loc[ratings_df['User-ID'] == 276727]
u2 = ratings_df.loc[ratings_df['User-ID'] == 13279]
get_similarity(u1, u2)

In [ ]:
e_users

In [ ]:
np.where(u2['ISBN'].notnull())

# Матричная факторизация

In [ ]:

reader = Reader(rating_scale=(0, 10))
ratings_dataset = Dataset.load_from_df(ratings_df, reader=reader)
train, test = train_test_split(ratings_dataset, test_size=0.15)

for alg in [SVD(), NMF()]:
    print(alg)
    alg.fit(train)
    predictions = alg.test(test)
    print(accuracy.rmse(predictions))

In [ ]:
c = 0
for real, pred in zip(test, predictions):
    if real[2] == int(pred[3]):
        c += 1
        #print(real[2], pred[3])
print(c)